/*
============================================================

セッティングまとめ

============================================================
*/


/* 変数セット
------------------------------------------------------------ */
@forward 'forward';


/* 全体共通
------------------------------------------------------------ */
@use 'global';