/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;


/*
============================================================

マーキースライド（Splide.js使用）

============================================================
*/

#marquee-slide {
  .splide__track {
    height: 100%;
  }
  .splide__slide {
    p {
      width: 336px;
      height: 100%;
      display: flex;
      justify-content: center;
      flex: auto 0 0;
      @media (max-width: $brake_md) {
        width: 202px;
      }
      &.img1 {
        margin-top: 40px;
        @media (max-width: $brake_md) {
          margin-top: 24px;
        }
      }
      &.img2 {
        width: 394px;
        margin-top: 88px;
        @media (max-width: $brake_md) {
          width: 234px;
          margin-top: 48px;
        }
      }
      &.img3 { 
        align-items: flex-start;
      }
      &.img4 {
        width: 464px;
        align-items: flex-end;
        @media (max-width: $brake_md) {
          width: 276px;
        }
      }
      &.img5 {
        margin-top: 100px;
        @media (max-width: $brake_md) {
          margin-top: 60px;
        }
      }
      img {
        width: 100%;
        height: max-content;
        object-fit: contain;
        border-radius: 20px;
      }
    }
  }
}
