/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;


/*
============================================================

form関連

============================================================
*/


#box {
  &-zip, &-address, &-tel, &-remarks {
    display: none;
  }
}

.form {
  display:block;
  padding: 0 0 0;
  @media screen and (min-width: $brake_md+1) {
    padding: 0 0 0;
  }

  &_title {
    font-size:18px;
    letter-spacing:2px;
    padding:(4px*5);
    border-bottom:1px solid $cc;
    &_s {
      font-size:12px;
      color:$b7;
    }
  }

  a {
    color:$b3;
    &:hover {
      opacity: .6;
    }
  }

  &-groups {
    display: flex;
    justify-content:center;
    width:100%;
    margin:0 auto;
    padding: 0 (4px*5) (8px*4);
    flex-wrap: wrap;
    @media screen and (min-width: $brake_md+1) {
      padding: 0 (4px*0) (8px*2);
    }

    .multiple {
      justify-content:flex-start;
    }

    .tate {
      line-height:2.0;
    }

    .label {
      width:100%;
      text-align:left;
      padding:(4px*0) (4px*0) (4px*2);
      font-weight:500;
      font-size:(8px*2);
      color: $b0;
      @media screen and (min-width: $brake_md+1) {
        width:100%;
        padding:0;
        text-align:right;
      }
    }

    .input {
      width:100%;
      text-align:left;
      padding:(4px*0) (4px*0) (4px*0);
      position:relative;
      @media screen and (min-width: $brake_md+1) {
        //width:70%;
        padding:0;
      }

      .l, .m, .s {
        width: 100%;
      }
      .l {
        @media screen and (min-width: $brake_md+1) {
          width:95%;
        }
      }
      .m {
        @media screen and (min-width: $brake_md+1) {
          width:60%;
        }
      }
      .s {
        @media screen and (min-width: $brake_md+1) {
          width:30%;
        }
      }
      .xs {
        width:30%;
        @media screen and (min-width: $brake_md+1) {
          width:10%;
        }
      }
      em {
        position:relative;
        margin:0 5px;
        padding:0 0 0 0;
        top:10px;
        font-size:12px;
        font-style:normal;
      }

      textarea {
        width: 100%;
        @media screen and (min-width: $brake_md+1) {
          width: 80%;
        }
      }

      &-center {
        text-align:center;
      }

    }

    &.noflex {
      display: block;
      margin: 0 0;
      padding: 0 0 16px;
      @media screen and (min-width: $brake_md+1) {
        margin: 0 0;
        padding: 0 0 16px;
      }
      
      &-submit {
        max-width: 320px;
        margin: 0 auto;
        .flexbox {
          @include flexbox_j_cont(center);
        }
      }

      &.mgn {
        &-top {
          margin-top: 16px;
          @media screen and (min-width: $brake_md+1) {
            margin-top: 24px;
          }
        }
      }
    }

    &-submit {
      [type="submit"] {
        margin: 24px auto 0;
        text-align: center;
        padding: 12px 44px 12px 48px;
        border-radius: 8px;
        display: block;
        color: #fff;
        border: 1px solid $main_clr;
        letter-spacing: 4px;
        background: $main_clr;
        font-size: 18px;
        transition:all .4s;
      
        &:hover {
          border: 1px solid $hvr_clr;
          //top:1px;
          position:relative;
          background: $hvr_clr;

        }

        &[disabled] {
          background: $ee;
          border:1px solid rgba($ee,1.0);
          &:hover {
            border:1px solid rgba($ee,1.0);
            top:0;
            position:relative;
          }
        }
      }
    } 

  }

  /*---------------------------------------------------------------------------
  ラジオボタン
  ----------------------------------------------------------------------------*/
  &-radio {
    display: flex;
    justify-content: flex-start;
    margin:0;
    padding:0;
    flex-wrap: nowrap;
    input {
      display: none;
    }
    label {
      display: block;
      cursor: pointer;
      width:150px;
      margin: 0;
      padding: 12px 5px;
      border-right: 1px solid rgba($b9,0.7);
      background:rgba($b9,0.6);
      color:rgba($b5,0.9);
      font-size: 14px;
      text-align: center;
      line-height: 1;
      transition: .2s;
      &:first-of-type {
        border-radius: 3px 0 0 3px;
      }
      &:last-of-type {
        border-right: 0px;
        border-radius: 0 3px 3px 0;
      }
    }
    input[type="radio"]:checked + label {
      background-color:$tone_clr;
      color:$w0;
    }
  }



  .exlink {
    position:absolute;
    top:43px;
    left:33%;
    font-size:12px;
    &:after {
      content: "\f08e";
      position:relative;
      font-size:14px;
      color:rgba($b1,1.0);
      top:2px;
      margin-left:5px;
    }
    a {
      color:rgba($b1,1.0);
      &:hover {
        color:rgba($b1,0.5);
      }
    }
  }
  
  #file_clear, #file_clear2 {
    display: none;
    padding:1px 5px;
    color:$w0;
    background:$b3;
    cursor:pointer;
  }
  
  label {
    &.error {
      color:$r1;
      padding:3px 0 0 0;
      margin:5px 0 0 5px;
      display:block;
      font-size:12px;
      &:before {
        content: "";
        position:relative;
        margin-right:5px;
        background: url(../img/warning.svg) center no-repeat;
        background-size: 100%;
        width: 14px;
        height: 13px;
        display: inline-block;
        top: 1.2px;
      }
    }
  }
  
  .required {
    &:after {
      content:"*";
      //background: $tone_clr;
      color:$tone_clr;
      position:relative;
      top:4px;
      margin:0 0 0 5px;
      //padding:2px 5px;
      font-size:16px;
      //border-radius: 2px;
    }
  }
  
  .incap {
    font-size:12px;
  }
  
  ::placeholder {
    color: $cc;
    font-size:(8px*2)-2;
  }
  
  .input {
    select {
      appearance:button;
      appearance:none;
      text-indent: 0.01px;
      padding:0 1em;
      background:$ee url(../img/pulldown.png) no-repeat right center;
      background-size:(4px*5) 10px;
      height: 30px; line-height:30px;
      font-size: 12px;
      vertical-align: middle;
      border:1px solid $cc;
      margin-bottom:0;
      position:relative;
      cursor:pointer;
    }
  
    &-check {
      display: block;
      padding: 8px 0;
      line-height: 1.4;
      text-align: justify;
      word-break: break-all;
      @media screen and (min-width: $brake_md+1) {
        text-align: center;
      }
      small {
        font-size: 12px;
        @media screen and (min-width: $brake_md+1) {
          font-size: 14px;
        }
      }
      a {
        color: $tone_clr;
      }
    }
  }
    
  @-moz-document url-prefix() {
    .form_group select.input {
      background:none;
      background-color: $w0;
    }
  }
  
  .slct {
    &-6 { width:20%;}
    &-5 { width:15%;}
    &-4 { width:11%;}
    &-3 { width:9%;}
    &-2 { width:9%;}
    &-1 { width:6%;}
    &-entryPlan_kit { width:10%;}
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  textarea {
    outline: none;
    transition: all .3s;
    border:1px solid $ee;
    padding:6px 12px;
    font-size:16px;
    border-radius: 2px;
    background: $ee;
    width:100%;
  
    &:focus {
      box-shadow:0 0 1px rgba($b3,0.5);
      border: 1px solid rgba($b3,0.2);
      background:$w0;
    }
  
  }
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
  }
  
  button[disabled],
  [type="button"][disabled],
  [type="reset"][disabled],
  [type="submit"][disabled] {
    cursor: default;
  }
  
  input[type="text"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder {
    color:$cc;
    font-weight: normal;
  }
  
  
  /*---------------------------------------------------------------------------
  チェックボタン
  ----------------------------------------------------------------------------*/
  .checkbtn_area { margin:5px 0 0 0; padding:0 0 0 0;}
  .checkbtn input[type="checkbox"] {display: none;}
  .checkbtn {cursor: pointer; position: relative;}
  .checkbtn .lever {display: block; color: $cc; display: inline-block; padding: 5px 30px 5px 30px; border: 1px solid $cc; margin:0 0 0 0; border-radius:20px; 
    font-size:12px;
  -webkit-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -o-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  }
  .checkbtn .lever:before {content:''; position: absolute; left: 4px; top:-2px; border: 1px solid $cc; background:$w0; width: 20px; height: 20px; 
    border-radius:100%;;
  -webkit-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -o-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  }
  .checkbtn:hover .lever:before {border-color:$cc;}
  .checkbtn input[type="checkbox"]:checked + .lever {background: $dd; color:$w0;}
  .checkbtn input[type="checkbox"]:checked + .lever {border-color:$dd;}
  .checkbtn input[type="checkbox"]:checked + .lever:before {left: 100%; margin-left: -26px; border-color:$w0;}
  
  /*---------------------------------------------------------------------------
  シンプルチェックボタン
  ----------------------------------------------------------------------------*/
  .chkbtn {display: none;}
  .chkchr{padding-left: 22px; position:relative; margin-right: 8px; cursor: pointer; display: inline-block; font-size: 14px;}
  .chkchr::before{content: ""; display: block; position: absolute; top: 1px; left: 0; width: 15px; height: 15px; border: 1px solid $b9; border-radius:4px;}
  .chkbtn:checked + .chkchr{color: $cc;}
  .chkbtn:checked + .chkchr::after{content: ""; display: block; position: absolute; top: -5px; left: 5px; width: 7px; height: 14px; transform: rotate(40deg); border-bottom: 3px solid $cc; border-right: 3px solid $cc;}
  

}