/*
============================================================

インバウンドテクノロジー

============================================================
*/


/* 共通パーツ
------------------------------------------------------------ */
@use 'common';


/* UI
------------------------------------------------------------ */
//@use 'ui/form';
//@use 'ui/btn';


/* UX
------------------------------------------------------------ */
//@use 'ux/load';
@use 'ux/swiper';
@use 'ux/bgr';
@use 'ux/marquee_slide';
@use 'ux/typewriter';
@use 'ux/animationcopy';
@use 'ux/sequence';
@use 'ux/fluffy';
@use 'ux/slide_fade';


/* 本サイトcssのスタイル引き継ぎ用
------------------------------------------------------------ */
@use 'origin';

/* bundle
------------------------------------------------------------ */
@use 'recruit';


/* 404
------------------------------------------------------------ */
@import 'extend/404';