/*
============================================================

ベース

============================================================
*/


/* basic
------------------------------------------------------------ */
@use "basic" as *; 


/* webfont
------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100..900&display=swap');
$main_font: "Barlow", "Noto Sans JP", sans-serif;
$gwf: "Noto Sans JP", sans-serif;
$gwf2: "Barlow", sans-serif;


/* ベース
------------------------------------------------------------ */
$main_clr: #C5302D;
$tone_clr: #E12C28;
$d9: #D9D9D9;
$f5: #F5F5F5;
$fa: #FAFAFA;
$bg_gray: #F4F5F5;


/* WEBフォントチラつき対策
------------------------------------------------------------ */
// html {
//   visibility: hidden;
// }
// html.wf-active, html.loading-delay {
//   visibility: visible;
// }
.preload {
  transition:0 !important;
}