/* 変数セット
------------------------------------------------------------ */
@use "common" as *;


/*
============================================================

companyinfo

============================================================
*/

.ibt-companyinfo {

  //-profile
  &-profile {
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
    @media screen and (min-width: $brake_md+1) {
      padding-bottom: 120px;
    }
    &-main {
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      gap: 28px;
      flex-direction: column-reverse;
      @media screen and (min-width: $brake_md+1) {
        justify-content: space-between;
        flex-direction: row;
        gap: 56px;
      }
      
      //-table
      &-table {
        width: 100%;
        margin: 0 auto 0;
        box-sizing: border-box;
        padding: 0 0 0;
        @media screen and (min-width: $brake_sm+1) {
          padding: 0 0 0;
        }
        table {
          width: 100%;
          border-bottom: 1px solid $d9;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 224px;
            height: 1px;
            background: $main_clr;
            box-sizing: border-box;
          }
          tr {
            display: block;
            margin: 0 0;
            padding: 28px 0;
            width: 100%;
            position: relative;
            box-sizing: border-box;
            border-top: 1px solid $d9;
            @media screen and (min-width: $brake_md+1) {
              padding: 0 0 0;
            }
            &::before {
              content: '';
              position: absolute;
              top: -1px;
              left: 0;
              height: 1px;
              background: $main_clr;
              box-sizing: border-box;
              width: 80px;
              @media screen and (min-width: $brake_md+1) {
                width: 224px;
              }
            }
            th {
              font-weight: 500;
              font-size: 16px;
              // vertical-align:middle;
              width: 100%;
              display: block;
              padding: 0 0 8px;
              @media screen and (min-width: $brake_md+1) {
                width: 224px;
                padding: 48px 0;
                display: table-cell;
              }
            }
            td {
              font-size: 16px;
              font-weight: 400;
              text-align: justify;
              word-break: break-all;
              vertical-align:middle;
              width: 100%;
              display: block;
              @media screen and (min-width: $brake_md+1) {
                width: calc(100% - 260px);
                padding: 0 0 0 80px;
                display: table-cell;
              }
              &.map {
                @media screen and (min-width: $brake_md+1) {
                  padding: 48px 0px 48px 80px;
                }
              }
              b {
                display: block;
              }
            }
          }
        }
        &-map {
          margin: 16px 0 0 0;
          position: relative;
          padding-top: 85%;
          /* 16:9のアスペクト比 */
          height: 0;
          width: 100%;
          @media screen and (min-width: $brake_sm+1) {
            padding-top: 85%;
            margin: 48px 0 0 0;
          }
          @media screen and (min-width: $brake_lg+1) {
            padding-top: 80%;
            width: 628px;
          }
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  //-boardmembers
  &-boardmembers {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $brake_md+1) {
    }
    &-main {
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
    }

    //-list
    &-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 32px;
      @media screen and (min-width: $brake_md+1) {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }
      &-box {
        display: flex;
        gap: 24px;
        position: relative;
        border-radius: 10px 2px;
        background: $w0;
        box-shadow: 2px 4px 16px 0 rgba($b0, 0.2);
        @media screen and (min-width: $brake_md+1) {
          gap: 0;
        }
        &-img {
          width: 128px;
          height: 149px;
          border-radius: 10px 0;
          overflow: hidden;
          background-color: $d9;
          @media screen and (min-width: $brake_md+1) {
            width: 184px;
            height: 184px;
            flex-shrink: 0;
          }
          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            @media screen and (min-width: $brake_md+1) {
              width: 100%;
              height: auto;
              display: block;
            }
          }
          span {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba($b0, 0.15);
            font-size: 24px;
            text-align: center;
            line-height: 1.2;
          }
        }
        &-txt {
          display: flex;
          flex-direction: column;
          gap: 0;
          flex: 1 0 0;
          padding: 24px 8px 0 0;
          @media screen and (min-width: $brake_sm+1) {
            padding: 24px 16px 0 0;
          }
          @media screen and (min-width: $brake_md+1) {
            padding: 32px;
          }
          &-name {
            display: flex;
            flex-direction: column;
            gap: 12px;
            @media screen and (min-width: $brake_md+1) {
              gap: 20px;
            } 
            b {
              font-size: 14px;
              font-weight: 500;
              color: $main_clr;
              line-height: 1;
              @media screen and (min-width: $brake_md+1) {
                font-size: 16px;
              }
            }
            span {
              display: flex;
              flex-direction: column;
              gap: 12px;
              font-size: 20px;
              line-height: 1;
              @media screen and (min-width: $brake_md+1) {
                font-size: 20px;
              }
              small {
                width: 100%;
                font-size: 14px;
                line-height: 1;
                @media screen and (min-width: $brake_md+1) {
                  font-size: 16px;
                }
              }
            }
          }
          &-btn {
            display: inline-block;
            position: absolute;
            bottom: 16px;
            right: 16px;
            @media screen and (min-width: $brake_md+1) {
              bottom: 32px;
              right: 32px;
            }
            button {
              display: inline-flex;
              width: 24px;
              height: 24px;
              background: $main_clr;
              border-radius: 100vmax;
              justify-content: center;
              align-items: center;
              border: none;
              cursor: pointer;
              padding: 0;
              &:hover {
                opacity: 0.7;
              }
              .icon-plus {
                width: 14px;
                height: 14px;
                color: $w0;
                display: inline-block;
                svg {
                  width: 100%;
                  height: 100%;
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    //-modal
    &-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      &.is-open {
        opacity: 1;
        visibility: visible;
      }
      &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: rgba($b0, 0.7);
        // backdrop-filter: blur(4px);
      }
      &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,0) scale(1);
        height: 80%;
        width: 92%;
        background: $w0;
        border-radius: 2px;
        box-shadow: 0 8px 32px rgba($b0, 0.3);
        overflow: hidden;
        transition: transform 0.3s ease;
        @media screen and (min-width: $brake_md+1) {
          width: 872px;
          height: fit-content;
          top: 50%;
          transform: translate(-50%, -50%) scale(0.9);
        }
        &-inr {
          overflow-y: scroll;
          height: 100%;
          @media screen and (min-width: $brake_md+1) {
            overflow-y: visible;
            height: fit-content;
          }
        }
      }
      &.is-open &-content {
        transform: translate(-50%, -50%) scale(1);
      }
      &-close {
        position: absolute;
        width: 32px;
        height: 32px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        top: 16px;
        right: 16px;
        @media screen and (min-width: $brake_md+1) {
          top: 32px;
          right: 32px;
        }
        span {
          position: absolute;
          width: 20px;
          height: 2px;
          background: $main_clr;
          transition: background 0.3s ease;
          @media screen and (min-width: $brake_md+1) {
            width: 24px;
            height: 2px;
          }
          &:first-child {
            transform: rotate(45deg);
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
        &:hover span {
          background: $main_clr;
        }
      } 

      &-body {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        background: $w0;
        // box-shadow: 2px 4px 16px 0 rgba($b0, 0.2);
        padding: 32px 24px;
        @media screen and (min-width: $brake_md+1) {
          flex-direction: row;
          gap: 56px;
          padding: 64px 56px;
        }
      }

      &-img {
        width: 100%;
        border-radius: 10px 0;
        overflow: hidden;
        background-color: $d9;
        @media screen and (min-width: $brake_md+1) {
          width: 208px;
          height: 272px;
          flex-shrink: 0;
        }
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          @media screen and (min-width: $brake_md+1) {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
        span {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgba($b0, 0.15);
          font-size: 24px;
          text-align: center;
          line-height: 1.2;
        }
      }
      &-profile {
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 1 0 0;
        padding: 0;
      }
      &-name {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media screen and (min-width: $brake_md+1) {
          gap: 20px;
        }
        b {
          font-size: 14px;
          font-weight: 500;
          color: $main_clr;
          line-height: 1;
          @media screen and (min-width: $brake_md+1) {
            font-size: 16px;
          }
        }
        span {
          display: flex;
          flex-direction: column;
          gap: 12px;
          font-size: 20px;
          line-height: 1;
          @media screen and (min-width: $brake_md+1) {
            flex-direction: row;
            align-items: center;
            font-size: 20px;
            gap: 20px;
          }
          small {
            width: 100%;
            font-size: 14px;
            line-height: 1;
            @media screen and (min-width: $brake_md+1) {
              width: fit-content;
              font-size: 16px;
            }
          }
        }
      }
      &-career {
        display: flex;
        flex-direction: column;
        gap: 4px;
        div {
          display: flex;
          gap: 32px;
        }
        dt, dd {
          font-size: 16px;
          font-weight: 400;
          color: $b0;
          line-height: 1;
          font-family: $gwf;
          line-height: 1.8;
        }
        dt {
          width: 56px;
          letter-spacing: normal;
        }
        dd {
          width: 100%;
          flex: 1 0 0;
        }
      }
    }
  }

}