/* 変数セット
------------------------------------------------------------ */
@use "common" as *;


/*
============================================================

contactus

============================================================
*/


/* ibt
------------------------------------------------------------ */
.ibt {

  //-contactus
  &-contactus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 48px 0 88px;
    background-image: url(../img/new/mark_etc.svg);
    background-size: 376px 240px;
    background-position: top 160px right -106px;
    background-repeat: no-repeat;
    @media screen and (min-width: $brake_md+1) {
      display: block;
      background-size: 588px 368px;
      background-position: top 0 right -40px;
      padding: 120px 0 0;
    }
    &.top {
      @media screen and (min-width: $brake_md+1) {
        padding: 120px 0 120px;
      }
      @media screen and (min-width: 1441px) {
        padding: 168px 0 calc(168px - 136px);
      }
    }
    &-inr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 80px;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      height: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      position: relative;
      @media screen and (min-width: $brake_md+1) {
        gap: 64px;
      }
    }
    &-head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 32px;
      @media screen and (min-width: $brake_md+1) {
        gap: 48px;
      }
    }
    &-ttl {
      display: flex;
      align-items: center;
      width: 100%;
      @media screen and (min-width: $brake_md+1) {
      }
    }
    &-txt {
      font-size: 16px;
      line-height: 1.8;
      b {
        font-weight: 700;
        color: $main_clr;
      }
    }

    &-main {
      display: block;
      width: 100%;
      &-inr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 100%;
      }

      &-nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        @media screen and (min-width: $brake_md+1) {
          gap: 24px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        &.top {
          padding: 0 0 0;
          @media screen and (min-width: 1441px) {
            padding: 0 0 0;
          }
        }

        &.unpin {
          @media screen and (max-width: $brake_md) {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s, visibility 0.3s;
          }
        }

        &.true {
          @media screen and (max-width: $brake_md) {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
          }
        }

        &-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 96px;
          @media screen and (min-width: $brake_md+1) {
            width: 529px;
            height: 130px;
          }
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-image: url(../img/new/contact/bg.webp);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            span {
              font-weight: 600;
              color: $w0;
              letter-spacing: 0.05em;
              display: flex;
              justify-content: space-between;
              align-items: center;
              max-width: 278px;
              width: 100%;
              gap: 20px;
              font-size: 16px;
              @media screen and (min-width: $brake_md+1) {
                font-size: 20px;
                max-width: 354px;
              }
              &:after {
                content: "";
                display: inline-block;
                width: 50px;
                height: 50px;
                background: url(../img/new/icon/right_b.svg) center no-repeat;
                background-size: contain;
              }
            }
          }
          &.active {
            filter: grayscale(1);
            span {
              width: auto;
              &:after {
                display: none;
              }
            }
          }

          &.fix {
            position: fixed;
            bottom: 16px;
            right: 0;
            width: 100%;
            max-width: 400px;
            z-index: 100;
            padding: 0 24px;
            @media screen and (min-width: $brake_md+1) {
              width: 400px;
              height: 96px;
              bottom: 32px;
              padding: 0 0;
            }
            a {
              @media screen and (min-width: $brake_md+1) {
                background-size: cover;
              }
              span {
                @media screen and (min-width: $brake_md+1) {
                  max-width: 254px;
                }
                &:after {
                  width: 38px;
                  height: 38px;
                }
              }
            }
          }

        }
      }

      &-form {
        display: block;
        width: 100%;
        @media screen and (min-width: $brake_md+1) {
          width: 100%;
        }
      }
    }
  }

}