/* 変数セット
------------------------------------------------------------ */
@use "common" as *;


/*
============================================================

tag

============================================================
*/


/* ibt
------------------------------------------------------------ */
.ibt {

  //-tag
  &-tag {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: $w0;
    padding: 24px 0 40px;
    @media screen and (min-width: $brake_lg+1) {
      padding: 24px 0 80px;
    }
    &-inr {
      display: block;
      margin: 0 auto;
      max-width: 1280px;
      padding: 0 24px 0;
      @media screen and (max-width: $brake_md) {
        
      }
    }

  }

}