/*
============================================================

インバウンドテクノロジー

============================================================
*/


/* 共通パーツ
------------------------------------------------------------ */
@use 'common';


/* UI
------------------------------------------------------------ */
//@use 'ui/form';
//@use 'ui/btn';


/* UX
------------------------------------------------------------ */
//@use 'ux/load';
@use 'ux/swiper';
@use 'ux/plusnav';
@use 'ux/bgr';
@use 'ux/marquee_slide';
@use 'ux/typewriter';


/* old
------------------------------------------------------------ */
@use '_old/aboutus' as old-aboutus;


/* bundle
------------------------------------------------------------ */
@use 'recruit';
@use 'category';
@use 'tag';
@use 'page';
@use 'contactus';
@use 'single';
@use 'aboutus';
@use 'companyinfo';
@use 'home';


/* 404
------------------------------------------------------------ */
@import 'extend/404';