/*
============================================================

インバウンドテクノロジー

============================================================
*/


/* 共通パーツ
------------------------------------------------------------ */
@use 'common';


/* UI
------------------------------------------------------------ */
//@use 'ui/form';
//@use 'ui/btn';


/* UX
------------------------------------------------------------ */
//@use 'ux/load';
@use 'ux/swiper';
@use '_old/plusnav';
@use '_old/bgr';


/* bundle
------------------------------------------------------------ */
@use 'category';
@use 'tag';
@use 'page';
@use '_old/contactus';
@use 'single';
@use '_old/aboutus';
@use '_old/home';


/* 404
------------------------------------------------------------ */
@import 'extend/404';