/*
============================================================

セッティングまとめ

============================================================
*/


/* いつも使うもの
------------------------------------------------------------ */
@forward 'basic';


/* このプロジェクト専用
------------------------------------------------------------ */
@forward 'base';