/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;


/*
============================================================

contactus

============================================================
*/


/* ibt
------------------------------------------------------------ */
.ibt {

  //-contactus
  &-contactus {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: $w0;
    padding: 0 0 40px;
    @media screen and (min-width: $brake_lg+1) {
      padding: 0 0 80px;
    }
    &-inr {
      display: block;
      margin: 0 auto;
      @media screen and (max-width: $brake_md) {
        
      }
    }
    
    //-title
    &-title {
      font-weight: 500;
      box-sizing: border-box;
      width: 100%;
      background: $f5;
      border-bottom: 1px solid $ee;
      font-size: 20px;
      margin: 0 0 0;
      @media screen and (min-width: $brake_md+1) {
        font-size: 28px;
        margin: 0 0 0;
      }
      &-inr {
        display: block;
        margin: 0 auto;
        max-width: 1280px;
        padding: 32px 28px;
        @media screen and (min-width: $brake_md+1) {
          padding: 40px 40px;
        }
        text-align: left;
      }
    }
    
    //-main
    &-main {
      width: 100%;
      display: block;
      padding: 40px 0 0;

      //-inr
      &-inr {
        display: block;
        margin: 0 auto;
        max-width: 1280px;
        padding: 0 24px 0;
      }

      //-nav
      &-nav {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        margin: 0 0 0;
        justify-content: space-around;
        padding: 0px 0 24px 0;
        border-bottom: 1px solid $ee;
        @media screen and (max-width: $brake_md) {
          
        }
        &-btn {
          border-radius: 8px;
          padding: 0;
          text-align: center;
          position: relative;
          background-color: #E8E8E8;
          border: 1px solid transparent;
          border-bottom: 0;
          width: 280px;
          margin: 8px 0;
          @media screen and (min-width: $brake_md+1) {
            width: 48%;
            margin: 16px 0;
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            font-weight: bold;
            display: block;
            text-decoration: none;
            border: 0;
            box-shadow: none;
            font-size: 18px;
            padding: 8px 32px;
            @media screen and (min-width: $brake_md+1) {
              font-size: 20px;
              padding: 16px;
            }
          }
          &.active {
            background-color: $tone_clr;
            border-color: transparent;
            a {
              color: $w0;
            }
          }
        }
      }

      &-form {
        display: block;
        padding: 40px 16px;
      }

    }

  }

}