/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;


/*
============================================================

home

============================================================
*/


/* ibt
------------------------------------------------------------ */
.ibt {

  @media screen and (max-width: $brake_md) {
    
  }
  &.active {
    overflow: hidden;
  }


  //-wrap
  &-wrap {
    @media screen and (max-width: $brake_md) {
    
    }
  }


  //-header
  &-header {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid $ee;
    @media screen and (max-width: $brake_md) {
    
    }
    &-inr {
      @media screen and (max-width: $brake_md) {
        
      }
    }

    //-bar
    &-bar {
      display: none;
      width: 100%;
      margin: 0 auto;
      background: $fa;
      border-bottom: 1px solid $ee;
      @media screen and (min-width: $brake_md+1) {
        display: block;
      }
      &-link {
        max-width: 1280px;
        padding: 0 24px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ol {
          display: flex;
          justify-content: flex-end;
          flex-wrap: wrap;
          padding: 12px 0;
          li {
            font-size: 12px;
            margin: 0 0 0 32px;
            a {
              transition: all .4s;
              &:hover {
                color: $tone_clr;
              }
            }
          }
        }
      }
    }

    //-main
    &-main {
      display: block;
      width: 100%;
      margin: 0 auto;
      position: relative;
      @media screen and (max-width: $brake_md) {
      
      }
      &.active {
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 2;
          background: rgba($b0, .3);
          @media screen and (min-width: 1160px) {
            display: none;
          }
        }
      }
      &-inr {
        margin: 0 auto;
        max-width: 1280px;
        padding: 16px 24px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        @media screen and (max-width: $brake_md) {
          
        }
      }
      &-l {
        width: 164px;
        box-sizing: border-box
      }
      &-r {
        width: auto;
        height: 110%;
        background: rgba($b0, 0.9);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        opacity: 0;
        z-index: 1000;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 56px 40px 120px;
        align-items: flex-start;
        overflow-y: scroll;
        transform: translateX(-1150px);
        transition: all .6s;
        @media screen and (min-width: 1160px) {
          opacity: 1;
          width: calc(100% - 164px);
          position: relative;
          height: auto;
          background: none;
          display: block;
          padding: 0;
          overflow-y:inherit;
          transform: translateY(0px);
        }
        &.active {
          // @include flexbox();
          // @include flexbox_j_cont(center);
          // @include flexbox_align_itm(center);
          transform: translateX(0);
          opacity: 1;
          z-index: 2;
        }
        &-inr {
          display: block;
          @media screen and (min-width: $brake_md+1) {
          }
          @media screen and (min-width: 1160px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
          }
        }
      }

      &-logo {
        display: block;
        width: 164px;
        margin: 0 0 0 0;
        img {
          display: block;
          width: 100%;
        }
        a {
          &:hover {

          }
        }
      }

      &-nav {
        margin: 0 0 0 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        @media screen and (min-width: $brake_md+1) {
          
        }
        @media screen and (min-width: 1160px) {
          display: block;
          margin: 0 0 0 56px;
          width: auto;
        }
        ul {
          display: block;
          @media screen and (min-width: 1160px) {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
          }
          li {
            font-weight: 500;
            margin: 0 0 16px 0;
            font-weight: 600;
            @media screen and (min-width: 1160px) {
              margin: 0 24px 0 0;
              font-size: 18px;
            }
            @media screen and (min-width: $brake_xl+1) {
              //margin: 0 40px 0 0;
            }
            &:last-child {
              margin-right: 0;
            }
            a {
              transition: all .4s;
              color: $w0;
              @media screen and (min-width: 1160px) {
                color: $b0;
              }
              &:hover {
                color: $tone_clr;
              }
            }
            ol {
              li {
                a {
                  color: $w0;
                  @media screen and (min-width: 1160px) {
                    color: $w0;
                  }
                  &:hover {
                    color: $tone_clr!important;
                  }
                }
              }
            }
          }
        }
      }

      &-cv {
        display: block;
        ul {
          display: block;
          @media screen and (min-width: 1160px) {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            align-items: center;
          }
          li {
            font-weight: 500;
            margin: 16px 0;
            @media screen and (min-width: 1160px) {
              margin: 0 0 0 12px;
            }
            @media screen and (min-width: $brake_xl+1) {
              margin: 0 0 0 16px;
            }
            &:first-child {
              margin-left: 0;
            }
            a {
              display: block;
              background: $tone_clr;
              color: $w0;
              font-weight: 600;
              border-radius: 4px;
              padding: 6px 12px;
              font-size: 13px;
              text-align: center;
              @media screen and (min-width: $brake_xl+1) {
                border-radius: 4px;
                padding: 8px 16px;
                font-size: 14px;
              }
              &:hover {

              }
            }
          }
        }
      }

    }

  }

  //-title
  &-title {
    font-weight: 500;
    box-sizing: border-box;
    width: 100%;
    background: $f5;
    border-bottom: 1px solid $ee;
    font-size: 20px;
    margin: 0 0 0;
    @media screen and (min-width: $brake_md+1) {
      font-size: 28px;
      margin: 0 0 0;
    }
    &-inr {
      display: block;
      margin: 0 auto;
      max-width: 1280px;
      padding: 32px 28px;
      @media screen and (min-width: $brake_md+1) {
        padding: 40px 40px;
      }
      text-align: left;
    }
  }

  //-main
  &-main {
    display: block;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: $brake_md) {
    
    }
    &-inr {
      margin: 0 auto;
      width: 100%;
      padding: 0 0;
      @media screen and (max-width: $brake_md) {
        
      }
    }
    
    //-hero
    &-hero {
      background: url(../img/herobg.png) center no-repeat;
      background-size: cover;
      position: relative;
      &::before {
        content: "";
        background: $b0;
        opacity: 0.4;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
      }
      &-inr {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        @media screen and (min-width: $brake_md+1) {
          height: 500px;
        }
      }
      &-copy {
        color: $w0;
        position: relative;
        z-index: 1;
        text-align: center;
        &-b {
          font-size: 40px;
          margin: 0 0 12px 0;
          display: block;
          line-height: 1.2;
          font-weight: 600;
          @media screen and (min-width: $brake_md+1) {
            font-size: 56px;
            line-height: 1.6;
            margin: 0 0 16px 0;
          }
        }
        &-s {
          font-size: 16px;
          display: block;
          @media screen and (min-width: $brake_md+1) {
            font-size: 24px;
          }
        }
      }
    }

    //-sec
    &-sec {

      //-sec1
      &1 {
        display: block;
        width: 100%;
        margin: 0 auto;
        background: $fa;
        border-bottom: 1px solid $ee;
        &-inr {
          max-width: 1280px;
          padding: 48px 24px 32px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          box-sizing: border-box;
          flex-wrap: wrap;
          @media screen and (min-width: $brake_sm+1) {
            padding: 80px 24px;
          }
          @media screen and (min-width: 1160px) {
            padding: 120px 24px;
            flex-wrap: nowrap;
          }
        }

        &-cap {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          font-weight: 700;
          margin: 0 0 32px 0;
          box-sizing: border-box;
          width: 100%;
          @media screen and (min-width: $brake_sm+1) {
            font-size: 32px;
          }
          @media screen and (min-width: 1160px) {
            width: 50%;
            margin: 0 24px 0 0;
          }
        }

        &-point {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          align-items: flex-start;
          box-sizing: border-box;
          width: 100%;
          @media screen and (min-width: 1160px) {
            width: 50%;
            justify-content: flex-start;
          }
          &-box {
            margin: 0 0 16px 0;
            display: inline-block;
            width: 100%;
            border: 1px solid $ee;
            border-radius: 8px;
            padding: 0;
            background: $w0;
            box-shadow: 0px 2px 4px rgba($b0, .1);
            //margin: 0 0 16px;
            @media screen and (min-width: $brake_sm+1) {
              width: 160px;
              height: 140px;
              margin: 0 0 0 16px;
            }
            &:first-child {
              margin: 0 0 16px 0;
              @media screen and (min-width: $brake_sm+1) {
                margin: 0;
              }
            }
            a {
              display: flex;
              padding: 16px 8px 16px;
              height: 100%;
              transition: all .4s;
              flex-direction: column;
              align-items: center;
              gap: 4px;
              justify-content: center;
              &:hover {
                opacity: .8;
              }
            }
            span {
              text-align: center;
              font-weight: 500;
              display: flex;
              justify-content: center;
              align-items: center;
              line-height: 1.4;
              @media screen and (min-width: $brake_md+1) {
                height: 3em;
              }
            }
            b {
              font-weight: 500;
              font-size: 18px;
              text-align: center;
            }
            img {
              text-align: center;
              width: 36px;
              margin: 0 auto;
              display: block;
              padding: 8px 0 6px;
              &.typ {
                &0 {
                  width: 48px;
                  height: 48px;
                  padding: 0;
                }
                &1 {
                  width: 36px;
                }
                &2 {
                  width: 44px;
                }
                &3 {
                  width: 44px;
                }
              }
            }
          }
        }
      }

      //-sec2
      &2 {
        display: block;
        width: 100%;
        margin: 0 auto;
        background: $fa;
        border-bottom: 1px solid $ee;
        &:hover {
          .home-slider-button {
            &-next, &-prev {
              opacity: 1;
            }
          }
        }
        &-inr {
          max-width: 1280px;
          padding: 40px 24px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          position: relative;
          @media screen and (min-width: $brake_lg+1) {
            padding: 80px 24px;
          }
        }
        &-slide {
          padding: 0 0;
          overflow: hidden;
          @media screen and (min-width: $brake_md+1) {
            margin: 0 0;
          }
    
          &-inr {
            padding: 20px 0 20px 0;
            overflow-x: hidden;
            @media screen and (min-width: $brake_md+1) {
              padding: 0 0;
            }
            &.home-slider {
              overflow-x: visible!important;
              overflow-y: visible!important;
              padding: 0;
              margin: 0 0 24px 0;
              @media screen and (min-width: $brake_md+1) {
                overflow-x: clip!important;
                margin: 0 0 48px 0;
              }
            }
          }
    
          &-box {
            overflow: hidden;
            display: inline-block;
            margin: 0 8px 0;
            background: rgba($w0, 1.0);
            padding: 0;
            cursor: grab;
            width: 238px;
            height: auto;
            flex: 0 0 238px;
            position: relative;
            padding: 0 0 40px 0;
            @media screen and (min-width: $brake_md+1) {
              width: 384px;
              height: 392px;
              margin: 0 18px 0 0;
              flex: 0 0 384px;
              padding: 0 0 0 0;
            }
            &:first-child {
              margin: 0 8px 0 28px;
              @media screen and (min-width: $brake_md+1) {
                margin: 0 18px 0 0;
              }
            }
            &:last-child {
              margin: 0 28px 0 8px;
              @media screen and (min-width: $brake_md+1) {
                margin: 0;
              }
            }
            &:active {
              cursor: grabbing;
            }
            a {
              &:hover {
                color: $b0;
                //filter: saturate(200%);
                opacity: .8;
              }
            }
            &-img {
              width: 100%;
              margin: 0 0 0;
              padding: 0 0 0;
              display: block;
              //height: 240px;
              @media screen and (min-width: $brake_md+1) {
                //height: 320px;
              }
              img {
                width: 100%;
                display: block;
                max-width: none;
              }
            }
            &-text {
              display: block;
              margin: 0 0 0;
              padding: 12px 0 8px;
              white-space: normal;
              //height: 4em;
              line-height: 1.6;
              font-size: 14px;
              @media screen and (min-width: $brake_md+1) {
                font-size: 16px;
                padding: 16px 0 8px;
              }
              b {
                display: block;
              }
              span {
                display: block;
                &:first-child {
                  height: auto;
                  @media screen and (min-width: $brake_md+1) {
                    //height: auto;
                  }
                }
                &:last-child {
                  height: 3em;
                  @media screen and (min-width: $brake_md+1) {
                    height: auto;
                  }
                }
              }
            }
            &-label {
              box-sizing: border-box;
              border: 2px solid $main_clr;
              width: 100%;
              display: flex;
              align-items: center;
              position: relative;
              background: $w0 url(../img/sec/02/label_sp.svg) no-repeat;
              background-size: contain;
              height: 40px;
              position: absolute;
              bottom: 0;
              @media screen and (min-width: $brake_md+1) {
                background: $w0 url(../img/sec/02/label.svg) no-repeat;
                background-size: contain;
                height: 56px;
                position: absolute;
                bottom: 0;
              }
              &-text {
                text-align: center;
                display: inline-block;
                line-height: 1.1;
                position: absolute;
                right: 0;
                width: 90px;
                @media screen and (min-width: $brake_md+1) {
                  width: 170px;
                  line-height: 1.4;
                }
                span {
                  display: block;
                  font-weight: 900;
                  line-height: 1.0;
                  margin: 0 0 4px 0;
                  font-size: 14px;
                  @media screen and (min-width: $brake_md+1) {
                    font-size: 18px;
                  }
                }
                &::before {
                  content: "CO2 削減量";
                  font-weight: bold;
                  line-height: 1.0;
                  font-size: 12px;
                  @media screen and (min-width: $brake_md+1) {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }

      //-sec3
      &3 {
        display: block;
        width: 100%;
        margin: 0 auto;
        &-inr {
          width: 100%;
          padding: 0 0;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }

        &-box {
          display: flex;
          justify-content: center;
          align-items: center;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          width: 100%;
          padding: 80px 40px;
          @media screen and (min-width: $brake_md+1) {
            width: 50%;
            padding: 80px 80px;
          }
          &::before {
            content: "";
            background: $b0;
            opacity: 0.5;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
          }
          &.box {
            &-candidates {
              background-image: url(../img/candidates.png);
            }
            &-clients {
              background-image: url(../img/clients.png);
            }
          }

          &-main {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            max-width: 560px;
            &-cap {
              z-index: 1;
              position: relative;
              color: $w0;
              font-size: 32px;
              text-shadow: 1px 1px 1px rgba($b0, .8);
            }
  
            &-text {
              z-index: 1;
              position: relative;
              color: $w0;
              font-size: 16px;
              margin: 12px 0 24px 0;
              text-shadow: 1px 1px 1px rgba($b0, .8);
              text-align: justify;
              word-break: break-all;
              @media screen and (min-width: $brake_md+1) {
                margin: 16px 0 24px 0;
              }
            }

            &-btn {
              font-weight: 500;
              margin: 0 0 0 0;
              z-index: 1;
              position: relative;
              a {
                display: inline-block;
                background: $tone_clr;
                color: $w0;
                font-weight: 600;
                border-radius: 4px;
                padding: 8px 20px;
                &:hover {

                }
              }
            }
          }
          
        }

        &-cap {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 32px;
          font-weight: 700;
          width: 50%;
          margin: 0 24px 0 0;
        }

        &-point {
          width: 50%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          align-items: flex-start;
          &-box {
            margin: 0 0 0 16px;
            display: inline-block;
            width: 160px;
            border: 1px solid $ee;
            border-radius: 8px;
            padding: 18px 16px 16px;
            background: $w0;
            box-shadow: 0px 2px 4px rgba($b0, .1);
            span {
              text-align: center;
              font-weight: 500;
              display: block;
            }
            b {
              font-weight: 500;
              font-size: 18px;
              text-align: center;
            }
            img {
              text-align: center;
              width: 36px;
              margin: 0 auto;
              display: block;
              padding: 8px 0 6px;
              &.typ {
                &1 {
                  width: 36px;
                }
                &2 {
                  width: 44px;
                }
                &3 {
                  width: 44px;
                }
              }
            }
          }
        }
      }

    }

  }

  //-side
  &-side {
    display: none;
    @media screen and (min-width: $brake_lg+1) {
      display: block;
      width: 32%;
      overflow: hidden;
      box-sizing: border-box;
      position: sticky;
      top: 16px;
      height: 100%;
    }
    &-inr {
      display: block;
      position: relative;
    }
    &-title {
      display: block;
      padding: 8px 0 16px;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.0;
      margin: 0 0 4px;
    }
    &-box {
      display: block;
      box-sizing: border-box;
      border: 1px solid $ee;
      background: $w0;
      border-radius: 8px;
      padding: 24px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.09);
      &-title {
        display: block;
        padding: 8px 0 16px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.0;
        color: $b5;
      }
      &-item {
        display: block;
        box-sizing: border-box;
        padding: 12px 0;
        border-bottom: 1px solid $d9;
        &:last-child {
          border: none;
        }
        a {
          display: flex;
          justify-content: space-between;
        }
        &-img {
          width: 24%;
          display: block;
          box-sizing: border-box;
          aspect-ratio: 1/1;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        &-title {
          width: 70%;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 12px;
          display: flex;
          align-items: center;
          padding: 0 8px 0 0;
          span {
            display: -webkit-box;
            overflow: hidden;
            height: 3em;
            line-height: 1.4;
            font-size: 12px;
            font-weight: 600;
            margin: 8px 0 0 0;
            text-align: justify;
            word-break: break-all;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
      }
    }
  }

  //-footer
  &-footer {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid $ee;
    @media screen and (max-width: $brake_md) {
    
    }
    &-inr {
      margin: 0 auto;
      width: 100%;
      padding: 0 0;
      @media screen and (max-width: $brake_md) {
        
      }
    }

    &-flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1280px;
      padding: 48px 24px;
      margin: 0 auto;
      @media screen and (min-width: $brake_sm+1) {
        padding: 48px 24px;
      }
      @media screen and (min-width: $brake_lg+1) {
        padding: 64px 24px;
      }
    }

    &-l {
      display: block;
      width: 100%;
      order: 2;
      padding: 48px 0 0;
      @media screen and (min-width: $brake_lg+1) {
        width: 20%;
        order: 1;
        padding: 0 0 0;
      }

      &-sns {
        display: block;
        margin: 0 0 16px 0;
        ul {
          display: flex;
          justify-content: center;
          @media screen and (min-width: $brake_lg+1) {
            justify-content: flex-start;
          }
          li {
            margin: 0 8px 0 0;
          }
        }
      }

      &-nav {
        ul {
          li {
            display: block;
            margin: 0 0 4px 0;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            @media screen and (min-width: $brake_lg+1) {
              text-align: left;
            }
            a {
              transition: all .4s;
              &:hover {
                color: $tone_clr;
              }
            }
          }
        }
      }

    }

    &-r {
      display: flex;
      justify-content: center;
      width: 100%;
      order: 1;
      border-bottom:1px solid $ee;
      padding: 0 0 32px 0;
      @media screen and (min-width: $brake_lg+1) {
        justify-content: flex-end;
        width: 80%;
        order: 2;
        border: none;
        padding: 0;
      }

      &-nav {
        display: block;
        margin: 0 0 0 0;
        &-ttl {
          font-size: 14px;
          color: $b7;
          display: block;
          margin: 16px 0 0 0;
          font-weight: bold;
          @media screen and (min-width: 1160px) {
            font-size: 12px;
            margin: 16px 0 0 0;
          }
          a {
            font-weight: bold !important;
          }
          &.mt-4 {
            margin-top: 8px;
          }
        }
        &-cap {
          font-size: 12px;
          color: $b5;
          display: block;
          margin: 4px 0 0 0;
          @media screen and (min-width: 1160px) {
            margin: 8px 0 0 0;
          }
          &::before {
            content: "-";
          }
        }
        ul {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          font-size: 16px;
          line-height: 1.8;
          li {
            margin: 0 0 16px 0;
            color: $main_clr;
            width: 100%;
            @media screen and (min-width: $brake_md+1) {
              margin: 0 80px 0 0;
              width: auto;
            }
            @media screen and (min-width: $brake_lg+1) {
              margin: 0 80px 0 0;
            }
            &:last-child {
              margin: 0 0 0 0;
            }
            a {
              transition: all .4s;
              font-weight: 500;
              &:hover {
                color: $tone_clr;
              }
            }
            ul {
              margin: 4px 0 0 8px;
              display: block;
              font-size: 14px;
              @media screen and (min-width: 1160px) {
                margin: 4px 0 0 4px;
              }
              li {
                color: $b0;
                margin: 0 0 0 8px;
                @media screen and (min-width: 1160px) {
                  margin: 0 0 0 8px;
                }
                &:last-child {
                  margin: 0 0 0 8px;
                  @media screen and (min-width: 1160px) {
                    margin: 0 0 0 6px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &-copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $b4;
      &-inr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 24px;
      }
      span {
        text-align: center;
        display: inline-block;
        color: $w0;
        font-size: 10px;
      }
    }

  }

}