/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;


/*
============================================================

plusnav

============================================================
*/

.plusnav {
  padding-right: 40px;
  @media screen and (min-width: $brake_md+1) {
    padding-right: 0;
  }
  & > ul > li:hover .plusnav-box {
    opacity: 0;
    @media screen and (min-width: $brake_md+1) {
      max-height: 9999px;
      opacity: 1;
    }
  }
  > ul > li {
    position: relative;
  }
  &-box {
    z-index: 10;
    background: rgba($b0, .9);
    font-size: 14px;
    color: $w0;
    line-height: 2.0;
    margin: 4px 0 0 0;
    padding: 0 0 0 16px;
    box-sizing: border-box;
    @media screen and (min-width: 1160px) {
      transition: all .2s ease-in;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      width: 100%;
      left: 0;
      position: absolute;
      min-width: 320px;
      line-height: 2.4;
      padding: 24px 40px 8px;
      margin: 0;
    }

    &-sec {
      display: block;
      box-sizing: border-box;
      margin: 0 0 32px 0;
      &.mb-8 {
        margin-bottom: 8px;
      }
      &:last-child {
        margin: 0 0 0 0;
      }

      a {
        color: $w0 !important;
        &:hover {
          color: $tone_clr;
        }
      }

      &-ttl {
        font-size: 12px;
        //color: $b9;
        @media screen and (min-width: 1160px) {
          font-size: 16px;
        }
        a {
          color: $w0 !important;
          &:hover {
            color: $tone_clr !important;
          }
        }
      }
      &-child {
        display: block;
        margin: 0 0 24px 8px;
        @media screen and (min-width: 1160px) {
          margin: 0 0 24px 16px;
        }
        &-cap {
          display: block;
          font-size: 14px;
          color: $w0;
          &.nolink {
            &:before, &:after {
              content: "-";
            }
          }
          a {
            color: $w0 !important;
            &:hover {
              color: $tone_clr !important;
            }
          }
        }
        &-list {
          display: block;
          margin: 0 0 0 20px;
          @media screen and (min-width: 1160px) {
            margin: 0 0 0 24px;
          }
          ol {
            li {
              margin: 0 !important;
              font-size: 12px;
            }
          }
        }
      }
    }

    // ol {
    //   display: block;
    //   padding: 0 0 0 8px;
    //   box-sizing: border-box;
    //   background: rgba($b0, .8);
    //   margin: 4px 0 0 0;
    //   @media screen and (min-width: 1160px) {
    //     background: rgba($b0, .8);
    //     padding: 16px 24px;
    //     margin: 0;
    //   }
    //   li {
    //     display: block;
    //     padding: 0 0!important;
    //     font-size: 14px;
    //     margin: 0!important;
    //     line-height: 2.0;
    //     @media screen and (min-width: 1160px) {
    //       line-height: 2.4;
    //     }
    //     a {
    //       color: $w0;
    //       &:hover {
    //         color: $ee!important;
    //       }
    //     }
    //   }
    // }
  }
}