/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;


/*
============================================================

colorbox

============================================================
*/

*:focus {
  outline: none;
}

#colorbox {
  outline:0;
}

#colorbox, #cboxOverlay, #cboxWrapper {
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
}


#cbox {

  &Wrapper {
    max-width:none;
  }

  &Overlay {
    position:fixed;
    width:100%;
    height:100%;
    background:$b0;
  }

  &MiddleLeft,
  &BottomLeft {
    clear:left;
  }

  &LoadingOverlay,
  &LoadingGraphic {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  &Content {
    position:relative;
    //background:$b3;
    margin:15px;
    padding:0 0 0 0;
    border-radius:2px;
    border-radius:4px;
    //box-shadow: 0 0 6px $cc;
  }

  &Error {
    padding:50px;
    border:1px solid $cc;
  }

  &LoadedContent {
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom:0;
    border: none!important;
  }

  &Title {
    margin:0;
    position:absolute;
    bottom:4px;
    left:0;
    text-align:center;
    width:90%;
    color:$b5;
    margin:10px;
    font-size:12px;
    display: none!important;
  }

  &Current {
    display:none !important;
  }

  &LoadingOverlay {
    background:url(../img/bars.svg) no-repeat center center;
    background-size: 8px*4;
    //background: none;
  }

  &Previous, &Next, &Slideshow, &Close {
    cursor:pointer;
    border:0;
    padding:0;
    margin:0;
    overflow:visible;
    width:auto;
    background:none;
    &:active {
      outline:0;
    }
  }

  &Slideshow {
    position:absolute;
    top:-20px;
    right:90px;
    color:$b0;
  }

  &Previous{
    display:inline-block;
    position:absolute;
    top:50%;
    left:-(8px*2);
    margin-top:-20px;
    font-size: 0;
    @media screen and (min-width: $brake_md+1) {
      margin-top:-32px;
      left:-8px*7;
    }
    &:hover{
      &::before {
        opacity: .8;
        transform: translate(-4px,0);
      }
    }
    &::before {
      text-align: center;
      cursor: pointer;
      content: '';
      background:rgba($b0, .4) url(../img/prev.svg) no-repeat center center;
      background-size: (8px*2);
      position: relative;
      display: inline-block;
      text-shadow: 1px 1px 1px $b0;
      transition: all .4s;
      width: (8px*4);
      height: (8px*5);
      @media screen and (min-width: $brake_md+1) {
        background:url(../img/prev.svg) no-repeat center center;
        background-size: (8px*3);
        width: (8px*6);
        height: (8px*10);
      }
    }
  }

  &Next {
    display:inline-block;
    position:absolute;
    top:50%;
    right:-(8px*2);
    margin-top:-20px;
    font-size: 0;
    @media screen and (min-width: $brake_md+1) {
      right:-8px*7;
      margin-top:-32px;
    }
    &:hover{
      &::before {
        opacity: .8;
        transform: translate(4px,0);
      }
    }
    &::before {
      text-align: center;
      cursor: pointer;
      content: '';
      background:rgba($b0, .4) url(../img/next.svg) no-repeat center center;
      background-size: (8px*2);
      position: relative;
      display: inline-block;
      text-shadow: 1px 1px 1px $b0;
      transition: all .4s;
      width: (8px*4);
      height: (8px*5);
      @media screen and (min-width: $brake_md+1) {
        background:url(../img/next.svg) no-repeat center center;
        background-size: (8px*3);
        width: (8px*6);
        height: (8px*10);
      }
    }
  }

  &Close {
    display:inline-block;
    position:absolute;
    top:-4px*3;
    right:-4px*3;
    font-size: 0;
    @media screen and (min-width: $brake_md+1) {
      top:-8px*2;
      right:-8px*4;
    }
    //background:url('../img/colorbox/close.png') no-repeat top center;
    //background-size:20px;
    //width:20px;
    //height:25px;
    //text-indent:-9999px;
    //cursor: pointer;
    &:hover{
      //background-position:bottom center;
      &::before {
        opacity: .8;
        transform: rotate(360deg);
      }
    }
    &::before {
      text-align: center;
      cursor: pointer;
      content: '';
      background:url(../img/close.svg) no-repeat center center;
      background-size: (8px*3);
      position: relative;
      display: inline-block;
      text-shadow: 1px 1px 1px $b0;
      width: (8px*3);
      height: (8px*3);
      transition: all .4s;
    }
  }

}

.cbox {
  &Photo {
    float:left;
    margin:auto;
    border:0;
    display:block;
    max-width:none;
    -ms-interpolation-mode:bicubic;
  }
  &Iframe {
    width:100%;
    height:100%;
    display:block;
    border:0;
    padding:0;
    margin:0;
    background:$b3;
  }
}


/*---------------------------------------------------------------------------
colorbox IE
----------------------------------------------------------------------------*/
.cboxIE {
  #cbox {
    &TopLeft, &TopCenter, &TopRight, &BottomLeft, &BottomCenter, &BottomRight, &MiddleLeft, &MiddleRight {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
    }
  }
}
