/*
============================================================

アイコンフォント

============================================================
*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kn0jjf');
  src:  url('fonts/icomoon.eot?kn0jjf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kn0jjf') format('truetype'),
    url('fonts/icomoon.woff?kn0jjf') format('woff'),
    url('fonts/icomoon.svg?kn0jjf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}
.icon-behance:before {
  content: "\e90c";
}
.icon-back:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-minus:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-stop:before {
  content: "\e905";
}
