/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;


/*
============================================================

ローディング

============================================================
*/

#loading_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($w0, 1.0);
  transition: background-color 1s linear .4s;
  overflow: hidden;

  &.out {
    background: rgba($w0, .3);
    .loading_mask {
      &-title {
        opacity: 0.0;
        filter: blur(20px);
        //transform: scale(10.0, 10.0);
      }
      &-cover {
        &-inner {
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
        }
        &-l {
          transform: scale3d(1,1,1) translate3d(-80%,0px,0px) rotate(10deg);
        }
        &-r {
          transform: scale3d(1,1,1) translate3d(80%,0px,0px) rotate(10deg);
        }
      }
    }
  }

  .loading_mask {
    &-title {
      position: absolute;
      width: auto;
      z-index: 10000001;
      opacity: 1.0;
      transform: scale(1.0, 1.0);
      transition: 1s;
      @media screen and (min-width: $brake_md+1) {
        width: auto;
      }
      @media screen and (max-width: $brake_i5) {
        //width: 100px;
      }
      &-top {
        margin: 0 auto (8px*5);
        p {
          &.logo {
            animation:fadeIn 2s ease-in-out;
          }
        }
      }
      &-bottom {
        display: flex;
        justify-content: center;
        p {
          &.bar {
            width: 50%;
            display: flex;
            @include flexbox_j_cont(flex-start);
            align-items: center;
            img {
              width: 100%;
              display: block;
            }
            @media screen and (min-width: $brake_md+1) {
              width: 35%;
            }
          }
        }
      }
      img {
        width: 100%;
        display: block;
      }
    }

    &-cover {
      &-inner {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
      }
      &-l {
        position: absolute;
        top: 50%;
        margin-top: -1000px;
        left: 50%;
        margin-left: -2000px;
        width: 2000px;
        height: 2000px;

        background: $w0;

        transform-origin:100% 50%;
        transform: scale3d(1,1,1) translate3d(1px,0px,0px) rotate(10deg);
        transition: all 0.8s cubic-bezier(0.800, -0.005, 0.220, 1.005) .2s;
      }
      &-r {
        position: absolute;
        top: 50%;
        margin-top: -1000px;
        right: 50%;
        margin-right: -2000px;
        width: 2000px;
        height: 2000px;

        background: $w0;

        transform-origin:0% 50%;
        transform: scale3d(1,1,1) translate3d(0px,0px,0px) rotate(10deg);
        transition: all 0.8s cubic-bezier(0.800, -0.005, 0.220, 1.005) .2s;
      }
    }
  }
}
