/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;


/*
============================================================

player

============================================================
*/

.player {
  &-inr {
    display: block;
    margin: 0;
    padding: 0;
    height: 16px;
    @media screen and (min-width: $brake_md+1) {
      height: 20px;
    }
    span {
      margin: 0 6px;
      @media screen and (min-width: $brake_md+1) {
        margin: 0 4px;
      }
      opacity: 1.0;
      transition: all .5s;
      &:hover {
        opacity: .5;
      }
    }
  }
  &-play, &-paus, &-mute, &-mute2, &-volp, &-volm, &-back {
    &::before {
      content: '';
      display: inline-block;
      cursor: pointer;
      margin: 0;
      padding: 0;
      width: 16px;
      height: 16px;
      @media screen and (min-width: $brake_md+1) {
        width: 20px;
        height: 20px;
      }
    }
  }
  &-play {
    &::before {
      background: url('../img/play.svg') center no-repeat;
      background-size: cover;
    }
  }
  &-paus {
    &::before {
      background: url('../img/stop.svg') center no-repeat;
      background-size: cover;
    }
  }
  &-back {
    &::before {
      background: url('../img/back.svg') center no-repeat;
      background-size: cover;
    }
  }
  &-volp {
    &::before {
      background: url('../img/plus.svg') center no-repeat;
      background-size: cover;
    }
  }
  &-volm {
    &::before {
      background: url('../img/minus.svg') center no-repeat;
      background-size: cover;
    }
  }
}
