/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;


/*
============================================================

scroll-top

============================================================
*/

.scroll-top {
	//animation: movUp 2s ease 0s 1 normal;
	animation: movUp .3s linear 0s;
	//-webkit-animation: fadeIn 2s ease 0s 1 normal;
	display: none;
	overflow: hidden;
	position: absolute;
	bottom: (8px*2);
	right: (8px*2);
	z-index: 800;
	opacity: 0;
	z-index: 30;
	@media screen and (max-width: $brake_i5) {
		
  }
  @media screen and (min-width: $brake_md+1) {
    
  }
	&.fixed {
		display: block;
		opacity: 1;
		transition: 0.4s;
		position: fixed;
		z-index: 30;
		&.stop {
			position: absolute;
		}
	}
}
.scroll-top-btn {
	a {
		transition: all 0.4s;
		//font-size: 8px*4;
		//padding: 8px*3;
		//color: $base_clr;
		//background: $tone_clr;
		//border-radius:50%;
		width: 40px;
    height: 40px;
    padding: 8px;
		display: block;
		background: $tone_clr;
    @media screen and (max-width: $brake_i5) {
      
    }
		@media screen and (min-width: $brake_md+1) {
      width: 80px;
			height: 80px;
			padding: 24px;
		}
		//transform: translateY(10px);
		img {
			//transition: all 0.2s;
			//top: 0;
			display: block;
			width: 24px;
			height: 24px;
			transition: all .6s;
			transform: rotate(270deg) translateX(0px);
			@media screen and (min-width: $brake_md+1) {
				width: 32px;
				height: 32px;
			}
		}
		span {

		}
		&:hover {
			//transition: all 0.5s;
			//background: rgba($tone_clr,.8);
			//text-decoration: none;
			position: relative;
			// span {
			// 	top: -2px;
			// }
			img {
				transform: rotate(270deg) translateX(2px);
			}
    }
    &:active {
      img {
        opacity: 1;
      }
    }
	}
	@media screen and (max-width: 768px) {
		// a {
		// 	font-size: 8px*3;
		// 	padding: 8px*1;
		// 	width: 8px*3;
		// 	height: 8px*3;
		// }
	}
}
