/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;


/*
============================================================

タイプライターエフェクト

============================================================
*/

// タイプライターエフェクト
.typewriter-text {
  display: inline-block;
  // min-height: 112px;
  
  .typewriter-cursor {
    display: inline-block;
    margin-left: 2px;
    animation: blink 1s infinite;
  }
}

/* タイプライターカーソルの点滅アニメーション
------------------------------------------------------------ */
@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}